
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url('https://cdn.glitch.com/233efcda-1f98-4551-9b2e-8792c9934f1a%2Fluke-chesser-pJadQetzTkI-unsplash%20(1).jpg?v=1605370428209');
  font-family: 'roboto' , monospace;
  font-weight: 800;
  height: 100%;
}

.container {
	width: 92.5%;
  margin: 0 auto;
}

.content {
 padding-left: 52px;
 padding-right: 52px;
 line-height: 1.0;
 font-family: 'roboto' , monospace;
 text-align-last: left; 
 text-decoration: none;
 color: white;
 padding-bottom: 400px;
}

.H1-content {
 font-size: 60px;
 font-weight: 800;
}

.H2-content {
 font-size: 30px;
 font-weight: 400; 
}

header {
  background: white;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


.logo {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#section1 {
  height: 100%;
  background-color: #191c22;
  color: white;
  padding-top: 20px;
}

.Section-1Header {
 padding-left: 52px;
 padding-right: 52px;
 font-family: 'roboto' , monospace;
 text-align-last: center; 
 text-decoration: none;
 color: white;
 font-weight: 800; 
 font-size: 60px;
}

.content-center {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: 161616;
  font-size: 20px;
}

.project-1-container { 
 margin-top: 40px;
 margin-left: 40px;
 align-items: center;
}

.project-2-container {
 margin-top: 40px;
 margin-right: 40px;
 align-items: center;
}

.project-3-container { 
 margin-top: 40px;
 margin-left: 40px;
 align-items: center;
}

.Project-logos {
 width: 150px;
 height: 150px;
}

.Project-logos-left {
  float: right;
  margin-right: 100px;
}

.Project-logos-right {
  float: left;
  margin-left: 100px;
  margin-right: 50px;
}

#section2 {
  height: 750px;
  background-color: #191c22;
  color: white;
}

.section-2-container {
	width: 90%;
  margin: 0 auto;
}

.section-2header{
  padding-left: 52px;
  padding-right: 52px;
  font-family: 'roboto' , monospace;
  text-align-last: center; 
  text-decoration: none;
  color: white;
  font-weight: 800; 
  font-size: 60px;
  text-shadow: 0 0 2px rgba(0,0, 15), 0 4px 8px rgba(0,0,5);
}


.left {
  float: right;
  width: 50%;
  height: 100%;
  z-index: 0;
}

.right {
  float: left;
  width: 50%;
  height: 100%;
  z-index: 0;
  font-size: 20px;
}

.right-1 {
  max-width: 70%;
}

.right-2 {
  max-width: 100%;
}
.section-2-container-text {
  text-align-last: left; 
  font-family: 'roboto' , monospace;
}

.links a {
  display: block;
  color: inherit;
  font-family:'roboto' , monospace;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  height: 62px;
  line-height: 62px;
  border-radius: 10px;
  background-color: #323232;
  margin-top: 10px;
}

.links a:hover {
  color: #000;
}

.ProfilePicture {
  float: right;
  padding: 18px 0 16px 16px;
  width: 150px;
  height: 150px;
}

#section3 {
  height: 120px;
  background-color: #323232;
  color: white;
}

.section-3-container {
  width: 60%;
  margin: 0 auto;
}

.section-3-container-text {
  font-size: 30;
  text-align: center;
  padding-top: 35px;
}